{% extends 'base.html.twig' %}
{% block javascripts %}
    {{parent()}}
    <script>
        function getUsers() {
            console.log("getUsers");
            $.ajax({
                method: 'POST',
                url: "/admin_panel/user"
            }).done(function (data) {
                $('.js-get-users').html(data);
            });
        }
        function getDocuments() {
            console.log("getDocuments");
            $.ajax({
                method: 'POST',
                url: "/admin_panel/document"
            }).done(function (data) {
                $('.js-get-docs').html(data);
            });
        }
        function getTags() {
            console.log("getTags");
            $.ajax({
                method: 'POST',
                url: "/admin_panel/tag"
            }).done(function (data) {
                $('.js-get-tags').html(data);
            });
        }
        function getCategory() {
            console.log("getCats");
            $.ajax({
                method: 'POST',
                url: "/admin_panel/category"
            }).done(function (data) {
                $('.js-get-cats').html(data);
            });
        }


        function getAddForm(add) {

            console.log(add);
            $.ajax({
                method: 'POST',
                url: "/admin_panel/"+add
            }).done(function (data) {
                $('.js-form').html(data);
            });
        }
        function sendForm(){
          let form =  document.querySelector('form');
          console.dir(form.name);
          //form.action = "/admin_panel/add_user";
          //form.submit();
          let msg = $( "form" ).serialize();
          if(form.name == "add_user_form"){
            $.ajax({
                method: 'POST',
                url: "/admin_panel/add_user",
                data: msg
            }).done(getUsers());
          }else if(form.name == "edit_user_form"){
            let id = form.querySelector('h1').innerText;
            console.dir(id);
            $.ajax({
                method: 'POST',
                url: "/admin_panel/edit_user/"+id,
                data: msg
            }).done(getUsers());
          }else if(form.name == "add_tag_form"){
            console.dir(form.name);
            var formElement = document.querySelector("form");
            console.dir(formElement);
            var kekw = new FormData(formElement);
            $.ajax({
                method: 'POST',
                url: "/admin_panel/add_tag",
                cache: false,
                contentType: false,
                processData: false,
                data: kekw,
                dataType : 'json'
            }).done(getTags());
        }else if(form.name == "add_document_form"){
            var form1 = $( "form" );
            var formElement = document.querySelector("form");
            console.dir(formElement);
            var kekl = new FormData(formElement);
            $.ajax({
                method: 'POST',
                url: "/admin_panel/add_doc",
                cache: false,
                contentType: false,
                processData: false,
                data: kekl,
                dataType : 'json',
            }).done(setTimeout(getDocuments(),3000));
          }else if(form.name == 'add_category_form'){
            var form1 = $( "form" );
            var formElement = document.querySelector("form");
            console.dir(formElement);
            var kekl = new FormData(formElement);
            $.ajax({
                method: 'POST',
                url: "/admin_panel/add_cat",
                cache: false,
                contentType: false,
                processData: false,
                data: kekl,
                dataType : 'json',
            }).done(setTimeout(getCategory(),3000));
          }
        }

        function deleteUser(id){
            $.ajax({
                method: 'POST',
                url: "/admin_panel/delete_user/"+id
            }).done(getUsers());
        }
        function deleteDoc(id){
            $.ajax({
                method: 'POST',
                url: "/admin_panel/delete_doc/"+id
            }).done(setTimeout(getDocuments(),3000));
        }
        function deleteTag(id){
            $.ajax({
                method: 'POST',
                url: "/admin_panel/delete_tag/"+id
            }).done(setTimeout(getTags(),3000));
        }
        function deleteCat(id){
            $.ajax({
                method: 'POST',
                url: "/admin_panel/delete_cat/"+id
            }).done(setTimeout(getCategory(),3000));
        }
        function getEditDocForm(id) {
          
            console.log("Добро пожаловать в Веб-консоль");
            $.ajax({
                method: 'POST',
                url: "/admin_panel/edit_doc/"+id
            }).done(function (data) {
                $('.js-form').html(data);
            });            
        }
    </script>
{% endblock %}
{% block body %}
{% if form is defined %}
{{ form(form) }}
{% endif %}
<button type="button" class="btn btn-primary"  onclick="sendForm()">Add</button>
{% endblock %}