{% extends 'base.html.twig' %}
{% block body %}
<div class="container  p-1 mt-3 w-100">
<h1>Результатов не найдено!</h1>
<h3>Не нашли того, что искали?</br><a href="/">Свяжитесь с админинистрацией</a>, и отправьте заявку на добавление документа.</h3>
</div>
{% endblock %}